:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --link-color: #2196f3;
  --main-white-color: #ffffff;
  --background-gray: #f5f4fa;
  --button-hover: #188ce8;
  --card-gap: 30px;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  /* outline: 2px solid red; */

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  font-weight: 500;
  line-height: 1.14;

  display: flex;
  align-items: center;
}

/* Логотип */
.logo {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo > span {
  color: var(--link-color);
}

/* Навігація */
.nav .list {
  letter-spacing: 0.02em;

  display: flex;
  margin-left: 93px;
}
.nav .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: currentColor;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-color);
}
.nav-link.current {
  color: var(--link-color);
}

/* Контакти хедер */
.header .contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

/* Головний контент */
/* Герой */
.section {
  /* outline: 2px solid yellow; */

  padding-top: 94px;
  padding-bottom: 94px;
}
.section.hero {
    background-color: #2F303A;
  text-align: center;
}
.hero-title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36x;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: auto;
  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  color: var(--main-white-color);
  background-color: var(--link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

/* Наші переваги */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  display: flex;
  /* justify-content: space-between; */
  margin-right: calc(-1 * var(--card-gap));
}
.benefits > .item {
  /* flex-basis: 270px; */
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-right: var(--card-gap);
}
.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.benefits-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/* Чим ми займаємося */
.main-work {
  padding-top: 0;
}

.secondary-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.works {
  display: flex;
  margin-right: calc(-1 * var(--card-gap));
  /* justify-content: space-between; */
}
.item-works {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
}

/* Команда */
.main-team {
  text-align: center;
  background-color: var(--background-gray);
}
.team {
  display: flex;
  margin-right: calc(-1 * var(--card-gap));
}
.item-team {
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgb(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-right: var(--card-gap);
  padding-bottom: var(--card-gap);
}
.member-foto {
  margin-bottom: var(--card-gap);
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}
.member-profession {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */
.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  color: var(--main-white-color);
}

/* Контакти футер */
.contacts-footer {
  font-style: normal;

  margin-top: 20px;
}
.contacts-footer .contacts-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.contacts-link.map {
  color: var(--main-white-color);
  line-height: 1.71;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-color);
}
.contacts-link.mail {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

/* Портфоліо */
/* Фільтри навігації */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.item-filters:not(:last-child) {
  margin-right: 8px;
}
.filters-button {
  color: var(--main-text-color);
  background-color: var(--background-gray);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;
}
.filters-button:hover, .filters-button:focus{
  color: var(--main-white-color);
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Приклади робіт */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-gap));
  margin-bottom: calc(-1 * var(--card-gap));
}
.item-portfolio {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);
}
.portfolio-content {
  border: 1px solid #eeeeee;
  border-top: none;

  padding: 20px 24px;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.portfolio-app {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
